<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Katai_Reports>
            <version>1.0.0.0</version>
        </Katai_Reports>
    </modules>
    <global>
        <models>
            <katai_reports>
                <class>Katai_Reports_Model</class>
                <resourceModel>katai_reports_model_resource</resourceModel>
            </katai_reports>
            <katai_reports_model_resource>
                <class>Katai_Reports_Model_Resource</class>
                <entities>
                    <entity>
                        <table>katai_report_entity</table>
                    </entity>
                    <role>
                        <table>katai_report_entity_role</table>
                    </role>
                </entities>
            </katai_reports_model_resource>
        </models>
        <resources>
            <katai_reports_setup>
                <setup>
                    <module>Katai_Reports</module>
                </setup>
            </katai_reports_setup>
        </resources>
        <helpers>
            <katai_reports>
                <class>Katai_Reports_Helper</class>
            </katai_reports>
        </helpers>
        <blocks>
            <katai_reports>
                <class>Katai_Reports_Block</class>
            </katai_reports>
        </blocks>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <katai_reports before="Mage_Adminhtml">Katai_Reports_Adminhtml</katai_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Katai_Reports>
                    <files>
                        <default>Katai_Reports.csv</default>
                    </files>
                </Katai_Reports>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Katai_Reports>
                    <files>
                        <default>Katai_Reports.csv</default>
                    </files>
                </Katai_Reports>
            </modules>
        </translate>
    </frontend>
</config>